.one,
.two,
.three,
#menu-button {
    color: rgb(101, 66, 21);
    border: 2px;
    border-color: bisque;
    text-align: center;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-style: oblique;
    font-weight: bold;
    margin: auto;
}

.hori {
    margin-left: 500px;
    margin-right: 500px;
}

.one,
.three {
    margin-left: auto;
    margin-right: auto;
}

.four {
    padding: 0px;
    margin: 20px;
}

#menu-button {
    color: brown;
    background-color: antiquewhite;
    border: 1px;
    border-color: black;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}


